/* Estilos para os produtos */
.product {
    width: 200px;
    padding: 10px;
    margin: 20px;
    background-color: #f0f0f0;
    text-align: center;
    transform: rotate(-45deg); /* Gira o produto em -45 graus */
    display: inline-block;
}

.product p {
    margin: 0;
    transform: rotate(45deg); /* Gira o texto do produto em 45 graus para compensar */
}

.product button {
    display: block;
    margin-top: 10px;
}

/* Estilos para a área de rolagem do carrinho */
.scrolling-container {
    width: 100%;
    overflow: hidden;
}

#carrinho {
    white-space: nowrap;
    animation: scrollRight 10s linear infinite; /* Ajuste a velocidade desejada */
}

/* Estilos para os itens do carrinho */
#carrinho li {
    display: inline-block;
    margin-right: 20px; /* Espaçamento entre itens */
    list-style-type: none;
}

/* Adicione estilos adicionais conforme necessário */
